{# empty Twig template #}
 <footer id="footer">

            <div class="container">

                <div class="four columns">

                    <div class="widget widget_recent_entries">

                        <h3 class="widget-title">Ultimos </h3>

                        <ul>
                            <li>
                                <a title="Recent Post" href="#">Lorem Ipsum </a>
                                <span class="post-date"></span>
                            </li>
                            <li>
                                <a title="Recent Post" href="#">Lorem Ipsum </a>
                                <span class="post-date"></span>
                            </li>
                            <li>
                                <a title="Recent Post" href="#">Lorem Ipsum </a>
                                <span class="post-date"></span>
                            </li>
                            <li>
                                <a title="Recent Post" href="#">Lorem Ipsum </a>
                                <span class="post-date">/span>
                            </li>
                            <li>
                                <a title="Recent Post" href="#">Lorem Ipsum </a>
                                <span class="post-date"></span>
                            </li>
                        </ul>

                    </div>

                </div>

                <div class="four columns">

                    <div class="widget widget_social">

                        <h3 class="widget-title">Social Links</h3>

                        <ul class="social-icons clearfix">

                            <li class="vimeo"><a href="#">Vimeo</a></li>
                            <li class="skype"><a href="#">Skype</a></li>
                            <li class="dribble"><a href="#">Dribble</a></li>
                            <li class="youtube"><a href="#">Youtube</a></li>
                            <li class="twitter"><a href="#">Twitter</a></li>
                            <li class="facebook"><a href="#">Facebook</a></li>						

                        </ul>	

                    </div>

                    <div class="widget widget_tag_cloud">

                        <h3 class="widget-title">Tags</h3>

                        <div class="tagcloud">
                            <a href="#">Arquitectura</a>
                            <a href="#">Construcción</a>
                            <a href="#">Corretaje</a>
                            <a href="#">Tasaciones</a>
                            <a href="#">Asistencia Técnica</a>
                            <a href="#">Contacto</a>

                        </div>


                    </div>

                </div>

                <div class="four columns">

                    <div class="widget widget_flickr">


                    </div>

                </div>

                <div class="four columns">

                    <div class="widget widget_text">

                        <h3 class="widget-title">Nosotros</h3>

                        <div class="textwidget">
                            <p> Sed sodales risus in nibh dignissim imperdiet. Vestibulum ac erat congue, aliquam leo et, tincidunt risus. Donec cursus posuere est vitae suscipit. </p>
                            <ul class="address-info">
                                <li><i class="icon-map-marker"></i> Direccion: <span class="contact-info">1234 <br>
                                        Ciudad Santiago, de chile</span></li>
                            </ul>
                            <ul class="address-info">
                                <li><i class="icon-phone"></i> Telefono: <span class="contact-info">+569456-7890</span></li>
                                <li><i class="icon-print"></i> Fax: <span class="contact-info">+569456-7890</span></li>
                            </ul>
                            <ul class="address-info">
                                <li><i class="icon-file-alt"></i> Email: <span class="contact-info">info@info.com</span></li>
                            </ul>
                        </div><!--/ .textwidget-->

                    </div><!--/ .widget -->

                </div><!--/ .columns -->

                <div class="clear"></div>

                <div class="sixteen columns">

                    <div class="adjective clearfix">
                        <div class="copyright" ><p>Copyright &copy; 2013 <strong>The Click </strong> </div>
                        <div class="footer-bottom-right"></div>
                    </div><!--/ .adjective-->			

                </div><!--/ .columns-->

            </div><!--/ .container -->

        </footer><!--/ #footer -->