{# empty Twig template #}



<ul class="sidebar-menu">
                  <li class="active">
                      <a class="" href="index.html">
                          <i class="icon-dashboard"></i>
                          <span>Admin / home </span>
                      </a>
                  </li>
                  
                  
                  
                  <li class="sub-menu">
                      <a href="{{path('AgregarPropiedades')}}" class="">
                          <i class="icon-tasks"></i>
                          <span>Agregar / Propiedades </span>
                          <span class="arrow"></span>
                      </a>
                     
                  </li>
                  
                  
                  
                    <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-tasks"></i>
                          <span>Ver / Propiedades </span>
                          <span class="arrow"></span>
                      </a>
                     
                  </li>
                  
                  
                  
                       <li class="sub-menu">
                           
                           
                      <a href="{{path('AgregarPropiedades')}}" class="">
                          <i class="icon-tasks"></i>
                          <span>Agregar / Construccion </span>
                          <span class="arrow"></span>
                      </a>
                     
                  </li>
                  
                  
                  
                    <li class="sub-menu">
                      <a href="javascript:;" class="">
                          <i class="icon-tasks"></i>
                          <span>Ver / Construccion </span>
                          <span class="arrow"></span>
                      </a>
                     
                  </li>
                  
                
                 
            </ul>