{# empty Twig template #}


<!DOCTYPE html>
<html class="not-ie no-js" lang="en">  
<head>
	
	<link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic|Sanchez:400,400italic' rel='stylesheet' type='text/css'>
	
	<!-- Basic Page Needs
  ================================================== -->
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

	<title>Aletheia HTML Template | Contact</title>	
	
	<meta name="description" content="">
	<meta name="author" content="">
	<link rel="icon" type="image/x-icon" href="favicon.ico" />

	
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	
    {% include "NorteSurPaginasBundle:Layers:css.html.twig" %}
        
        
</head>
<body class="wide color pattern-1">
	
<div id="wrapper">

    
    
               {% include "NorteSurPaginasBundle:Layers:header.html.twig" %}
    
    
	
	<section id="content">
    
    	<div class="menu-shadow"></div>
	
		<div class="container clearfix">
			
			<div class="page-header clearfix">

				<h1>Contacto</h1>

			</div><!--/ .page-header-->

			<div class="sixteen columns">
				
			</div>
			
			<div class="clear"></div>

			<div class="two-thirds column">

				<h5 class="content-title">Contacto</h5>
                
                <p>Duis vitae imperdiet ipsum. Vestibulum ullamcorper lorem at orci vulputate, volutpat tempus magna elementum. Nam in odio sem. Morbi in justo interdum massa tristique lobortis in quis diam. Etiam erat urna, cursus eu ante quis, aliquam venenatis augue. Cras turpis justo, pellentesque eu hendrerit et, euismod vitae leo. Ut in lorem lobortis, gravida quam eget, pulvinar quam. Nam ut leo leo.</p>
                

				<form method="post" action="" class="contact-form">

					<p class="message-form-name">
						<label for="name">Nombre : <span class="required">(requerido)</span></label>
                        <input required="" type="text" name="name" id="name" />
						
			    </p>

					<p class="message-form-email">
						<label for="email">E-mail: <span class="required">(requerido)</span></label>
                        <input required="" type="email" name="email" id="email" />
						
			    </p>

					<p class="message-form-url">
						<label for="url">Website:</label>
                        <input type="url" name="website" id="url" />
						
			    </p>

					<p class="message-form-message">
                   	  <label for="message">Tu mensaje : <span class="required">(requerido)</span></label>
						<textarea required="" name="message" id="message"></textarea>	
					</p>

					<p class="form-submit">
						<button class="button default" type="submit" id="submit"> Enviar </button>
					</p>

				</form><!--/ .contact-form-->	

			</div><!--/ .columns-->
			
			<div class="three columns">&nbsp;</div>

			<div class="one-third column">
            
            		<h6 class="widget-title">Contacto Info</h6>
					  
					  <ul class="address-info">
					    <li><i class="icon-map-marker"></i>Direccion : <span class="contact-info">1234 dddd, ddd dddd, ddd</span></li>
				      </ul>
					  <ul class="address-info">
					    <li><i class="icon-phone"></i> Telefono : <span class="contact-info">(123) 456-7890</span></li>
					    <li><i class="icon-print"></i> Fax: <span class="contact-info">(123) 456-7890</span></li>
				      </ul>
					  <ul class="address-info">
					    <li><i class="icon-file-alt"></i> Email: <span class="contact-info">info@youremail.com</span></li>
				      </ul>
				
                <p>&nbsp;</p>
                
                
                <div class="widget widget_toggle">
					
					<div class="acc-box row">
					
					<span data-mode="" class="acc-trigger">
						<a href="#">Texto 1</a>
					</span>

					<div class="acc-container">

						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque tortor massa.
						</p>	

					</div><!--/ .acc-container-->	

					<span data-mode="" class="acc-trigger">
						<a href="#">Texto 2</a>
					</span>

					<div class="acc-container">

						<p>
							Curabitur sollicitudin nec lacus in auctor. Quisque faucibus, ligula ut ornare aliquet, metus arcu consectetur velit.
						</p>	

					</div><!--/ .acc-container-->
                    
                    <span data-mode="" class="acc-trigger">
						<a href="#">Texto 3</a>
					</span>

					<div class="acc-container">

						<p>
							Donec sollicitudin risus risus, nec faucibus nisi iaculis nec. Aenean ornare feugiat sapien sit amet rhoncus. Nam convallis vestibulum tellus, in tincidunt orci bibendum id.
						</p>	

					</div><!--/ .acc-container-->		
                    
                    <p>&nbsp;</p>

					<div class="widget widget_social">
					
					<h6 class="widget-title">Social</h6>
				
					<ul class="social-icons clearfix">
		
						<li class="vimeo"><a href="#">Vimeo</a></li>
                        <li class="skype"><a href="#">Skype</a></li>
                        <li class="dribble"><a href="#">Dribble</a></li>
                        <li class="youtube"><a href="#">Youtube</a></li>
                        <li class="twitter"><a href="#">Twitter</a></li>
						<li class="facebook"><a href="#">Facebook</a></li>	
                        <li class="linkedin"><a href="#">LinkedIn</a></li>
                        <li class="gplus"><a href="#">Gplus</a></li>					
										
					</ul><!--/ .social-list-->		
		
				</div><!--/ .widget-->
				
				</div><!--/ .acc-box-->

				</div><!--/ .widget-->
                

			</div><!--/ .columns-->

		</div><!--/ .container-->
	 
	 </section><!--/ #content-->
    
	
         
    
        {% include "NorteSurPaginasBundle:Layers:footer.html.twig" %}
         
         
	
</div><!--/ #wrapper-->

	        
 {% include "NorteSurPaginasBundle:Layers:scriptjs.html.twig" %}

<!-- Style Switcher
================================================== -->


  

	
</section>
<!-- Style Switcher / End -->
            
</body>
</html>
