<!DOCTYPE html>
<!--[if IE 7]>					<html class="ie7 no-js" lang="en">     <![endif]-->
<!--[if lte IE 8]>              <html class="ie8 no-js" lang="en">     <![endif]-->
<!--[if (gte IE 9)|!(IE)]><!--> <html class="not-ie no-js" lang="en">  <!--<![endif]-->
    <head>

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,600italic|Sanchez:400,400italic' rel='stylesheet' type='text/css'>


        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

        <title>Aletheia HTML Template | Portfolio 4 Columns</title>	

        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="icon" type="image/x-icon" href="favicon.ico" />


        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">


  {% include "NorteSurPaginasBundle:Layers:css.html.twig" %}

    </head>
    <body class="wide color pattern-1">

        <div id="wrapper">

            <!-- start header -->




  {% include "NorteSurPaginasBundle:Layers:header.html.twig" %}

            <!-- fin de header -->




            <section id="content">

                <div class="menu-shadow"></div>

                <div class="container clearfix">

                    <div class="page-header clearfix">

                        <h1>Ultimas propiedades / Norte & Sur </h1>



                    </div>

                    <section id="main" class="twelve columns alpha">



                        <section id="portfolio-items" class="portfolio-items clearfix">



                            <!-- inicio  Proyeto   -->
                            <article class="four columns" data-categories="photo logo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/1.jpg">
                                        <img src="images/portfolio/1.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->						

                            </article><!--/ .columns-->

                            <!-- fin  Proyeto   -->



                            <article class="four columns" data-categories="graphics photo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/2.jpg">
                                        <img src="images/portfolio/2.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->



                            <article class="four columns" data-categories="video">

                                <div class="preloader">
                                    <a class="bwWrapper single-image video-icon" href="http://player.vimeo.com/video/7449107">
                                        <img src="images/portfolio/3.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="graphics photo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/4.jpg">
                                        <img src="images/portfolio/4.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="video">

                                <div class="preloader">
                                    <a class="bwWrapper single-image video-icon" href="http://player.vimeo.com/video/12158329">
                                        <img src="images/portfolio/5.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="graphics photo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/6.jpg">
                                        <img src="images/portfolio/6.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="video">

                                <div class="preloader">
                                    <a class="bwWrapper single-image video-icon" href="http://player.vimeo.com/video/10112073">
                                        <img src="images/portfolio/7.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="graphics photo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/8.jpg">
                                        <img src="images/portfolio/8.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->						

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="photo logo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/9.jpg">
                                        <img src="images/portfolio/9.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="graphics photo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/10.jpg">
                                        <img src="images/portfolio/10.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="photo logo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/11.jpg">
                                        <img src="images/portfolio/11.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                            <article class="four columns" data-categories="graphics photo">

                                <div class="preloader">
                                    <a class="bwWrapper single-image zoom-icon" href="images/full/12.jpg">
                                        <img src="images/portfolio/12.jpg" alt="">
                                    </a>							
                                </div><!--/ .preloader-->

                                <a class="project-meta" href="portfolio-single-sidebar.html">

                                    <h6 class="title">Ut porttitor augue</h6>
                                    <span class="categories">[ VIEW PROJECT ]</span>

                                </a><!--/ .project-meta-->		

                            </article><!--/ .columns-->

                        </section><!--/ #portfolio-items -->

                    </section><!--/ #main -->

                    <aside id="sidebar" class="four columns">

                        <div class="widget widget_text">

                            <h3 class="widget-title">Lorem Ipsum</h3>

                            <div class="textwidget">

                                <p> Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum Lorem Ipsum
                                    Lorem IpsumLorem IpsumLorem IpsumLorem Ipsum.</p>	

                            </div><!--/ .textwidget-->

                        </div><!--/ .widget-->

                     <!-- INICIO BUSCADOR -->
                        <div class="widget widget_categories">

                            <h3 class="widget-title">Buscador</h3>


                            <form>

                                <h3 class="widget-title">Region</h3>
                                <select>

                                    <option>uno</option>
                                    <option>uno</option>

                                    <option>uno</option>

                                </select>

                                <div class="espacio20px"></div>
                                   
                                <h3 class="widget-title">Comuna</h3>
                                <select>

                                    <option>uno</option>
                                    <option>uno</option>

                                    <option>uno</option>

                                </select>
                                
                                
                                   <div class="espacio20px"></div>
                                   
                                   
                                
                                
                                  <h3 class="widget-title">Tipo Propiedad</h3>
                                  <select>
                                    <option value="">uno</option>
                                    <option  value="">uno</option>
                                    <option  value="">uno</option>
                                   </select>



                            </form>


                        </div>
                        
                        <!-- FIN DE BUSCADOR -->

                       

                  
                        

                   

                    </aside><!--/ #sidebar-->

                </div><!--/ .container -->

            </section><!--/ #content-->

          
            
            
            <!-- Inicio de footer -->
            
               {% include "NorteSurPaginasBundle:Layers:footer.html.twig" %}
            
            <!-- FIN footer -->

        </div><!--/ #wrapper-->

        
        
         {% include "NorteSurPaginasBundle:Layers:scriptjs.html.twig" %}
        

      

    </body>
</html>
